* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 20px;
}
.container {
  width: 100%;
  height: inherit;
  background-color: #000;
}
.content {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: inherit;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  z-index: 20;
  position: fixed;
}
header .header-left {
  display: flex;
  height: 28px;
}
header .header-left .youtube-logo {
  height: 28px;
  width: 28px;
}
header .header-left .header-left-text {
  font-family: 'Oswald';
  font-size: 22px;
  line-height: 28px;
}
header .header-middle .nav-menu ul {
  display: flex;
}
header .header-middle .nav-menu ul li {
  padding-left: 30px;
  padding-right: 30px;
}
header .header-middle .nav-menu ul li .active {
  color: #fff;
  font-weight: 500;
  fill: #fff;
}
header .header-middle .nav-menu ul li:hover a,
header .header-middle .nav-menu ul li:hover .src-img {
  color: #fff;
  fill: #fff;
}
header .header-middle .search-block {
  display: flex;
}
header .header-middle .search-block .search-icon {
  display: flex;
  align-items: center;
}
header .header-right .profile-image {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-image: url("assets/images/user-photo.jpg");
  background-image: url("../../assets/images/user-photo.jpg");
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.src-img {
  width: 18px;
  height: 18px;
  fill: #bfbfbf;
  margin-right: 15px;
}
.header-scroll {
  transition: all 0.2s linear;
  background-color: #000;
  border-bottom: 0.5px solid #333333;
}
.hid-late {
  display: none;
}
@media (max-width: 1200px) {
  .hdn {
    display: none;
  }
}
@media (max-width: 900px) {
  .hid-late {
    display: block;
  }
  .fade-away {
    display: none;
  }
  li {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .src-img {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .header-left-text {
    display: none;
  }
  li {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
main {
  position: relative;
  padding-top: 85px;
  padding-bottom: 25px;
  height: 100%;
  z-index: 1;
}
section {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 60px;
  padding-right: 70px;
  margin-bottom: 75px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-section-block {
  display: flex;
  align-items: center;
  width: 32.5%;
  height: 60px;
  border-radius: 2px;
  background-color: #252525;
}
.top-section-block:hover {
  cursor: pointer;
  transition: 0.2s linear;
  background-color: #1b1b1b;
}
.top-section-block .top-sctn-img {
  width: 18px;
  height: 18px;
  margin-left: 25px;
  margin-right: 15px;
}
.top-section-block .top-sctn-img svg {
  width: 18px;
  height: 18px;
  fill: #bfbfbf;
}
.top-section-block .top-sctn-text {
  font-size: 20px;
  font-weight: 700;
}
.new-albums,
.new-music-videos,
.moods-and-genres {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 75px;
}
.moods-and-genres {
  height: 350px;
}
.moods-and-genres .carousel {
  height: auto;
}
.section-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 30px;
  font-weight: 700;
}
.carousel {
  margin: auto;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}
.carousel .flickity-button:disabled {
  opacity: 0;
}
.carousel .flickity-prev-next-button.previous,
.carousel .flickity-prev-next-button.next {
  width: 35px;
  height: 35px;
}
.carousel .flickity-prev-next-button.previous .flickity-button-icon,
.carousel .flickity-prev-next-button.next .flickity-button-icon {
  fill: #000;
}
.carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  height: 260px;
  margin-right: 20px;
}
.carousel .carousel-cell.video-slide {
  width: 320px;
  height: 260px;
}
.carousel .carousel-cell.video-slide .video-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 320px;
  height: 180px;
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel .carousel-cell.video-slide .video-image:hover,
.carousel .carousel-cell.video-slide .video-image:hover .video-play-image {
  filter: brightness(0.8);
  visibility: visible;
}
.carousel .carousel-cell.video-slide .video-options-block {
  top: 15px;
}
.carousel .carousel-cell.video-slide .video-options-block .video-options-image {
  fill: #fff;
  width: 18px;
  height: 18px;
  visibility: visible;
}
.carousel .carousel-cell.video-slide .video-play-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 48px;
  height: 48px;
}
.carousel .carousel-cell.video-slide .video-play-block .video-play-image {
  fill: #fff;
  width: 24px;
  height: 24px;
}
.carousel .carousel-cell.video-slide .empty-block {
  width: 24px;
  height: 24px;
  visibility: hidden;
}
.carousel .carousel-cell.moods-genres {
  width: 180px;
  margin-right: 22px;
  justify-content: space-between;
}
.carousel .carousel-cell.moods-genres .moods-genres-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 19%;
  background-color: #252525;
  border-radius: 5px;
  font-size: 15px;
}
.carousel .carousel-cell.moods-genres .moods-genres-block:hover {
  cursor: pointer;
  transition: 0.2s linear;
  background-color: #1b1b1b;
}
.carousel .carousel-cell.moods-genres .moods-genres-block .block-color {
  width: 4%;
  height: 98.5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: red;
  margin-right: 10px;
}
.carousel .slide-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 175px;
  height: 175px;
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel .slide-image:hover {
  transition: 0.1s linear;
  cursor: pointer;
  box-shadow: 0px 70px 70px -25px #000 inset;
}
.carousel .slide-image.square-slide {
  border-radius: 5px;
}
.carousel .slide-image.square-slide:hover .options-block,
.carousel .slide-image.square-slide:hover .play-block {
  transition: all 0.1s linear;
  visibility: visible;
  cursor: pointer;
}
.carousel .slide-image.square-slide .options-block {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
}
.carousel .slide-image.square-slide .play-block {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel .slide-image.square-slide .play-block:hover {
  transform: scale(1.1);
  background-color: #000000;
}
.carousel .slide-image.square-slide .options-image,
.carousel .slide-image.square-slide .play-image {
  fill: #fff;
  width: 16px;
  height: 16px;
}
.carousel .slide-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70px;
}
.carousel .slide-text.artists-text {
  align-items: center;
}
.carousel .slide-text .top-textblock {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel .slide-text .top-textblock:hover {
  cursor: pointer;
  text-decoration: underline;
}
.carousel .slide-text .top-textblock.vid-t:hover {
  text-decoration: none;
  cursor: auto;
}
.carousel .slide-text .bottom-textblock {
  color: #bfbfbf;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel .slide-text .bottom-textblock.vid-b {
  font-size: 12px;
}
.carousel .slide-text .bottom-textblock.vid-b:hover {
  cursor: pointer;
  text-decoration: underline;
}
#xxxtentacion-album {
  background-image: url("../../assets/images/albums/xxxtentacion.jpeg");
  background-size: 180px;
}
#boombox-album {
  background-image: url("../../assets/images/albums/boombox-albm.jpg");
  background-size: 180px;
}
#yamakasi-album {
  background-image: url("../../assets/images/albums/yamakasi.jpeg");
  background-size: 180px;
}
#divide-album {
  background-image: url("../../assets/images/albums/divide.jpg");
  background-size: 180px;
}
#shawnmendes-album {
  background-image: url("../../assets/images/albums/shawnmendes.jpg");
  background-size: 180px;
}
#lilpeep-single {
  background-image: url("../../assets/images/albums/lilpeep.jpg");
  background-size: 180px;
}
#boombox-single {
  background-image: url("../../assets/images/albums/boombox-sngl.jpeg");
  background-size: 180px;
}
#dojacat-single {
  background-image: url("../../assets/images/albums/dojacat.jpg");
  background-size: 180px;
}
#neighborhood-album {
  background-image: url("../../assets/images/albums/neighborhood.jpeg");
  background-size: 180px;
}
#neighbourhood-live {
  background-image: url("../../assets/images/videos/neighbourhood-live.jpg");
  background-size: 320px auto;
}
#twofeet-live {
  background-image: url("../../assets/images/videos/twofeet-live.jpeg");
  background-size: 320px auto;
}
#altj-live {
  background-image: url("../../assets/images/videos/altj-live.jpg");
  background-size: 320px auto;
}
#logic-live {
  background-image: url("../../assets/images/videos/logic-live.jpg");
  background-size: 320px auto;
}
#trevordaniel-live {
  background-image: url("../../assets/images/videos/trevordaniel-live.jpg");
  background-size: 320px auto;
}
#gunsnroses-live {
  background-image: url("../../assets/images/videos/gunsnroses-live.jpg");
  background-size: 320px auto;
}
.flickity-page-dots {
  display: none;
}
@media (max-width: 900px) {
  .top-section {
    flex-direction: column;
    width: 100%;
  }
  .top-section-block {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  section {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .top-section {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
}
